
.infoabout{
    margin-bottom: 10px;
}


.delItem {
    cursor: pointer;
    margin-left: 20px;
    visibility: hidden;
}

.liItem:hover .delItem {
    visibility: visible;
}


.btn-click {
    width: 40px;
    margin-right: 10px;
}

