* {
  margin: 0px;
  padding: 0;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  width:100vw;
  height: 50px;
  background-color: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.ele-a {
  text-decoration: none;
  color: #333333;
}

h2 {
  text-align: center;
}

.shop-list {
  text-align: center;
}

.shop-item {
  margin: 10px;
}

.item-info {
  text-align: center;
}

.item-img {
  width: 200px;
  height: 200px;
}


.container-all{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.home-list li{
  margin: 10px;
  background-color: #ccc;
  width: 150px;
  list-style: none;
  text-align: center;
}